<header id="branding">
<div id="site-title" style="min-width: 100%;"><a href="/" title="kimmie’s corner" rel="home" class="u-url url"><span class="p-name" ><img src="/images/kimmiescorner.png" alt="" width="340" title="kimmie’s corner"></span></a></div>
</header>
<!--
<div id="dswitch">
<label class="theme-switch" for="checkbox"><input type="checkbox" id="checkbox" class="checkbox"></label>  <span class="dark_mode">dark</span>
</div>
-->
<div id="byline"> 
</div>
<nav>
<div id="menu">
<a href="/">home</a> <!-- <a href="/gallery/">gallery</a> <a href="/archive/">archive</a> <a href="/categories/">categories</a> <a href="#top" onclick="copyToClipboard();setTimeout(hideMe,2500)">[copy link]</a> <span id="message" style="visibility:hidden;"><a onclick="hideMe()" title="click to hide this message"><img src="/images/iwt.svg" width="16" style="vertical-align:middle;" alt=""> <small>copied </small>✔</a></span><script>function copyToClipboard(e){var o=document.getElementById("message"),d=document.body.appendChild(document.createElement("input"));d.value=window.location.href,d.focus(),d.select(),document.execCommand("copy"),d.parentNode.removeChild(d),o.style.visibility="visible"}function hideMe() {message.style.visibility = 'hidden';}</script> --></div>
</nav>


