<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>kimmie’s corner</title>
<!--
{% if page.title != "" %}<title>{{ page.title }}</title>{% endif %}{% if page.title == "" %}
<title>{{ page.content | strip_html | truncatewords:6 }}</title>{% endif %}
-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/js/jquery-3.6.0.min.js"></script>

<link rel="profile" href="https://microformats.org/profile/specs">
<link rel="profile" href="https://microformats.org/profile/hatom">
<link rel="profile" href="https://gmpg.org/xfn/11">


<link href="/feed.atom" rel="alternate" title="simply. - full content feed" type="application/atom+xml">
{% feed_meta %}

<!--
<link rel="icon" href="/images/oj-0623-32.png" sizes="32x32">
<link rel="icon" href="/images/oj-0623-192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/images/oj-0623-180.png">
<meta name="msapplication-TileImage" content="/images/oj-0623-270.png">

	
{% if page.summary %}<meta name="description" content="{{ page.summary }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="simply.">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:locale" content="en_US">
{% if page.summary %}<meta property="og:description" content="{{ page.summary }}">{% else %}<meta property="og:description" content="{{ site.description }}">{% endif %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://simply.joejenett.com/images/simply.png">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@joejenett">
<meta name="twitter:site" content="@joejenett">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:image" content="https://simply.joejenett.com/images/simply.png">
{% if page.summary %}<meta name="twitter:description" content="{{ page.summary }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
-->
</head>